<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comment">
	 <insert id="insert" parameterType="Comment">
      insert into comment(reply)
      values(#{reply})
   </insert>
   <select id="selectAll" resultType="Comment">
   	select * from comment
   </select>
</mapper>