<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reboard">

	<select id="selectAll" resultType="Reboard">
		select * from reboard order by team desc, step asc
	</select>		

	<!-- 1건 등록 -->
	<insert id="insert" parameterType="Reboard">
		insert into reboard(title,writer,content)
		values(#{title},#{writer},#{content})
		
		<!-- 프라이머리키를 가져오기(insert하자마자, 아래의 코드가 곧바로 수행된다) -->
		<selectKey order="AFTER" resultType="int" keyProperty="reboard_id">
			select last_insert_id()
		</selectKey>
	</insert>

	<!-- 한건등록 Team의 값바꾸기 -->
	<select id="updateTeam" resultType="Reboard">
		update reboard set team=#{team}
		where reboard_id=#{reboard_id}		
	</select>
		
	<select id="select" parameterType="int" resultType="Reboard">
		select * from reboard where reboard_id=#{reboard_id}
	</select>	
	
	<update id="update" parameterType="Reboard"  >
		update reboard set title=#{title},writer=#{writer},  content=#{content} 
		where reboard_id=#{reboard_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from reboard where reboard_id=#{reboard_id}
	</delete>	
		
	<!-- 답변달기(들어갈 자리마련) -->		
	<!-- 답변이 아닌 내가 본글의 Reboard -->
	<update id="updateStep" parameterType="Reboard"> 
		<![CDATA[
			update reboard set step=step+1 where step > #{step}  and team=#{team}
		]]>
	</update>
	<!-- 답변등록 -->
	<insert id="reply" parameterType="Reboard">
		insert into reboard(title,writer,content,team,step,depth)
		values(#{title},#{writer},#{content},#{team},#{step}+1,#{depth}+1)
	</insert>	
		
		
		
		
		
		
		
		
		
</mapper>